
/* Reset Defaults
--------------------------------------------------------------------------------------- */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, del, dfn, font, img, ins, kbd, q, s, samp, strike, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td { margin: 0; padding: 0; border: 0; outline: 0; font-weight: inherit; font-style: inherit; font-family: inherit; vertical-align: baseline;}
:focus { outline: 0;}
ul { list-style: none;}
table {	border-collapse: separate; border-spacing: 0;}
caption, th, td { text-align: left;	font-weight: normal;}
blockquote:before, blockquote:after, q:before, q:after { content: "";}
blockquote, q {	quotes: "" "";}


/* Basic Selectors
--------------------------------------------------------------------------------------- */

html {height: 100%;  }
body { font: normal 62.5% "proxima-nova", Helvetica, Arial, sans-serif; font-weight: 400; color: #666666; min-height: 100%; background: #111; }

h1, h2, h3, h4, h5, h6 { font-size:1.4em; color: #111; font-family: "proxima-nova", Helvetica, Arial, sans-serif; font-weight: 300;}
p { font-size:1.6em; line-height:1.8em; margin:20px 0; }

.left { float:left; display:inline;}
.right { float: right; display: inline;}

.push { clear: both;}

a { text-decoration: none; font-weight: 300; }
a:link { color: #111;}
a:visited { color: #111;}
a:hover { color: #111; text-decoration: underline;}
a:active { color: #111;}

.footer a { font-weight: 700; text-decoration: none;}
.footer a:link { color: #fff;}
.footer a:visited { color: #fff;}
.footer a:hover { color: #eae925; text-decoration: underline;}
.footer a:active { color: #fff;}

a.button { display: block; -moz-border-radius: 6px; -webkit-border-radius: 6px; border-radius: 6px; background: #555; color: #fff; padding: 16px 20px; font-size: 1.6em; text-transform: uppercase; letter-spacing: 3px; font-family: "proxima-nova", Helvetica, Arial, sans-serif;}
a.button:hover { background: #000; text-decoration: none;}
a.button.full { padding-left: 0; padding-right: 0; text-align: center; width: 100%; margin-left: auto; margin-right: auto; margin-top: 40px;}

/* Contstants
--------------------------------------------------------------------------------------- */

/* THE MARGINS ARE BASED ON 60px ON A 1240px GRID */

.col_2, .columns { width: 100%;}
.col_2 .left, .col_2 .right { width: 46.7741935484%;}
.col_2.full .left, .col_2.full .right { width: 50%;}
.col_2.full .left .left, .col_2.full .left .right, .col_2.full .right .right, .col_2.full .right .left { background: none; width: 44.6428571429%;}
.fluid_half_wrap { margin: 0 auto; width: 80.6451612903%; padding: 80px 0;}
.panel { float: left; display: inline; margin-right: 6.25%;}
.panel.last { margin: 0;}
.columns.panels_3 .panel { width: 29.0322580645%;}
.columns.panels_4 .panel { width: 20.1612903226%;}
.columns.panels_5 .panel { width: 14.8387096774%;}

.header_wrap { background: #111; padding: 30px 0;}
.header { width: 90%; max-width: 1240px; margin: 0 auto;}
.content_wrap { background: #fff; padding: 80px 0;}
.content { width: 90%; max-width: 1240px; margin: 0 auto;}
.footer_wrap { background: #444; padding: 30px 0;}
.footer { width: 90%; max-width: 1240px; margin: 0 auto;}

.home .content_wrap { padding: 0;}
.home .content { width: 100%; max-width: 100%;}

.section { padding: 80px 0; width: 90%; max-width: 1240px; margin: 0 auto;}

h2.titles { text-align: center; font-size: 5.2em; }

img.ri { width: 100%; max-width: 100%; height: auto; }


/* Header
--------------------------------------------------------------------------------------- */

.header h1 { width: 90%; max-width: 778px; margin: 0 auto;}
.header h1 img { width: 100%; max-width: 100%; height: auto; }

/* Homepage
--------------------------------------------------------------------------------------- */

.hero_wrap { background: #bbb url(../images/bg_hero.jpg) no-repeat center center; height: 500px; }

.hero.section { padding: 0;}
.hero h2 { text-align: center; font-size: 8em; font-weight: 900; color: #fff; margin-top: 200px; text-shadow: 0 0 30px rgba(0, 0, 0, 0.7);}

.hp_tier_2_wrap { background: #fff; position: relative;}
.hp_tier_2 h3 { font-size: 3.2em; font-weight: bold; margin-top: 60px;}
.hp_tier_2 img { width: 100%; max-width: 100%; height: auto; margin-top: 8px; }
.hp_tier_2 p { margin-top: 0;}

.hp_tier_2  .col_2 { margin-top: 80px;}

.hp_tier_3_wrap {background: #111 url(../images/bg_five.jpg) no-repeat center center; margin-top: 10px;}
.hp_tier_3 h3 { font-size: 1.6em; font-weight: bold; color: #eae925; text-align: center; margin-top: 16px;}
.hp_tier_3 h2.titles { color: #fff;}
.hp_tier_3 h2.titles strong { color: #eae925;}
.hp_tier_3 img { width: 100%; max-width: 100%; height: auto; }
.hp_tier_3 .columns { margin-top: 80px;}

.col_2.full .left { background: #111;}
.col_2.full .right { background: #ccc;}

.hp_tier_4_wrap { background: #eae925 url(../images/bg_yellow.jpg) no-repeat center center; }
.hp_tier_4 .fluid_half_wrap { width: 90.3225806452%; max-width: 560px;}
.hp_tier_4 .left .fluid_half_wrap { float: right; display: inline; margin-right:6.67741935484%;}
.hp_tier_4 .right .fluid_half_wrap { float: left; display: inline; margin-left: 6.67741935484%;}
.col_2.full .left.yellow { background: none;}
.hp_tier_4 h2.titles { font-size: 3.4em; text-align: left;}
.hp_tier_4 ul li { font-size: 1.8em; color: #eae925; list-style: disc; padding-left: 12px; margin-left: 20px; margin-bottom: 24px; }
.hp_tier_4 ul li:last-child { margin-bottom: 0;}
.hp_tier_4 ul li span { color: #fff; }

.logos_wrap { overflow: hidden;}
.logos { overflow: hidden; margin-top: 80px;}
.logos a { float:left; display:inline; width: 100%; margin-right: 8.11290322582%;}
.logos a img { width: 100%; max-width: 100%; height: auto; display: block; }

a.team_1 { width: 11.2903225806%;}
a.team_2 { max-width: 8.95161290323%;}
a.team_3 { max-width: 6.53225806452%;}
a.team_4 { max-width: 12.2580645161%;}
a.team_5 { max-width: 10.4838709677%;}
a.team_6 { max-width: 9.91935483871%; margin-right: 0;}

.banner { position: relative; overflow: auto; margin-top: 80px; }
.banner li { list-style: none; }
.banner ul li { float: left; }
.banner ul li li { float: none;}

.testimonies_wrap { background: #e5e5e5; position: relative;}
.testimonies_wrap img { width: 100%; max-width: 100%; height: auto; }
.testimonies_wrap h3 { font-size: 3.2em; font-weight: 700; }
.testimonies.section { max-width: 1080px;}
.quote { margin-top:40px;}
.quote p { font-size: 3em; font-weight: 300; color: #111; line-height: 1.2em; text-align: center; max-width: 80%; margin: 0 auto;}
.quote p.name { font-size: 1.8em; font-weight: 700; margin-top: 24px; margin-bottom: 0;}
.quote p.name i { font-weight: 300;}

.team_wrap { background: #d71919 url(../images/bg_red.jpg) no-repeat center center; color: #fff;}
.team_wrap h2.titles { color: #fff;}
.team_wrap p { text-align: center;}
.team_wrap img { margin-top: 40px;}

.tier_5_wrap p { text-align: center;}

.listing li { font-size: 1.6em; line-height: 1.4em; margin-bottom: 8px; margin-left: 20px; list-style: disc;}
.been { margin-top: 60px;}
a.close { font-size: 3em; font-weight: 300; color: #999; text-decoration: none; position: absolute; top: 20px; right: 20px; height: 40px; width: 40px; line-height: 44px; background: #444; text-align: center; font-family: "proxima-nova", Helvetica, Arial, sans-serif;}
a.close:hover { background: #fff; color: #111; text-decoration: none; }
.team a.button.full { max-width: 300px; background: #fff; color: #111; font-weight: 700;}
.team a.button.full:hover { background: #111; color: #fff; text-decoration: none;}

.been li { font-size: 1.8em; color: #111;}

.testimonies_wrap.bg_image { background-image: url(../images/bg_been.jpg);}

.banner hr { border: 0; height: 2px; background: #bbb; color: #bbb; width: 75%; margin: 40px auto;}
h4.list_title { font-size: 2.4em; font-weight: 700; text-align: center;}

/* Content
--------------------------------------------------------------------------------------- */




/* Form
--------------------------------------------------------------------------------------- */

.email { padding: 40px 4%; background: #eee; width: 76%; margin: 0 auto; max-width: 880px; overflow: hidden; margin-top: 50px;}
.form_row { width: 100%; margin-bottom: 16px;}
.form_row.last { margin-bottom: 0;}
.form_row .left, .form_row .right { width: 46%;} 
.form_row label { text-transform: uppercase; font-size: 1.4em; color: #111; font-weight: 700; }
input.input_normal { font-family: "proxima-nova", "futura-pt", Helvetica, Arial, sans-serif; font-weight: 400; padding: 12px 5%; color: #111; border: 0; background: #fff; width: 90%; font-size: 1.6em; margin-top: 4px;}
input.btn_submit { display: block; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; background: #e72b2d; color: #fff; padding: 12px 0; width: 100%; text-align: center; font-size: 1.6em; text-transform: uppercase; letter-spacing: 3px; font-family: "proxima-nova", "futura-pt", Helvetica, Arial, sans-serif; border: 0; margin-top: 4px;}
input.btn_submit:hover { background: #c4262e;}
select {width: 100%; font-size: 1.8em; margin-top: 6px;}

#divEmailConfirmation { display: none; background: #12d970; padding: 30px; -webkit-border-radius: 6px; -moz-border-radius: 6px; border-radius: 6px; color: #fff; text-align: center;}
#divEmailConfirmation h3 { font-size: 4em;}
.tier_5_wrap #divEmailConfirmation p { margin: 0; font-size: 1.6em; color: #fff; margin-top:6px;}


/* Footer
--------------------------------------------------------------------------------------- */

.footer { width: 100%; max-width: 1240px; margin: 0 auto; color: #fff; padding: 60px 0; overflow: hidden; background-color:black;}
.footer h2 { width: 234px;}
.footer h2 img { width: 100%; max-width: 100%; height: auto; }

.footer h3 { font-size: 3.5em; text-transform: uppercase; float: right; display: inline; margin-right: 22%; margin-top: 2px;}
.footer h3 a { color: #fff; font-weight: 700; }
.footer h3 a:hover { text-decoration: none; color: #e72b2d; }

p.copyright { font-size: 1.2em; margin-bottom: 0; }

.social { width: 156px; float: right; display: inline; margin-top: 6px;}
.social a { display: block; float: left; display: inline; width: 36px; margin-right: 24px; opacity:.3; filter:alpha(opacity=300);}
.social a.last { margin-right: 0;}
.social a img { width: 100%; max-width: 100%; height: auto; }
.social a:hover { opacity:1; filter:alpha(opacity=100);}

/* Overwrites
--------------------------------------------------------------------------------------- */

.bg_image {
	width: 100%;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='.myBackground.jpg', sizingMethod='scale');
	-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='myBackground.jpg', sizingMethod='scale')";
	overflow: hidden;
}



/* Media Queries
--------------------------------------------------------------------------------------- */

@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1) { 
	
	.classhere {
		background: transparent url(../images/bg_header@2x.jpg) !important;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
	}
	
}

/* Desktops and laptops ----------- */

@media only screen 
and (max-width : 1060px) {

}

@media only screen 
and (max-width : 880px) {

	
}

/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {

	input { -webkit-appearance: none;}

}

@media only screen 
and (max-width : 480px) {

	.col_2, .columns { margin-top: 40px;}
	.col_2 .left, .col_2 .right { width: 100%; float: none; display: block; }
	.col_2 .right { margin-top: 40px;}
	.columns .panel,
	.columns.panels_3 .panel,
	.columns.panels_4 .panel,
	.columns.panels_5 .panel { width: 100%; float: none; display: block; margin-bottom: 30px;}	
	.fluid_half_wrap { padding: 0;}

	.header_wrap { padding: 40px 0;}
	.content_wrap { padding: 40px 0;}
	.footer_wrap { padding: 40px 0;}
	
	.section { padding: 40px 0; }
	
	h2.titles { font-size: 2.4em; font-weight: 700; }

	.hero_wrap { height: auto; padding: 40px 0; }
	.hero h2 { margin-top: 0; font-size: 3em;}
	.hero a.button { max-width: 100%; }

	.email { padding: 12px 4%;}
	.form_row .left, .form_row .right { width: 100%;} 
	.form_row .right { margin-top: 16px;}
	.form_row.last .right label { display: none;}
	
	#divEmailConfirmation { padding: 24px;}
	#divEmailConfirmation h3 { font-size: 2.4em;}

	.footer { padding: 30px 0; }
	.footer h2 { width: 234px; margin: 0 auto;}
	.footer h2 img { width: 100%; max-width: 100%; height: auto; }
	
	p.copyright { text-align: center; }
	
	.social { float: none; display: block; width: 156px; margin: 0 auto 30px auto; overflow: hidden;}

	.hp_tier_3 img { width: 60%; max-width: 600%; margin: 0 auto; }
	.hp_tier_3 .columns { margin-top: 40px; text-align: center;}
	
	.col_2.full .left { width: 100%; background: #111; overflow: hidden; padding-bottom: 40px;}
	.col_2.full .left.yellow {  background:none; padding-bottom: 0;}
	.hp_tier_4 h2.titles { font-size: 2.4em; text-align: center;}
	
	.logos { margin-top: 40px;}
	a.team_1 { width: 45%; margin-right: 10%;}
	a.team_2 { max-width: 45%; margin-right: 0;}
	a.team_3 { max-width: 45%; margin-right: 10%; clear: left; margin-top: 24px;}
	a.team_4 { max-width: 45%; margin-right: 0;}
	a.team_5 { max-width: 45%; margin-right: 10%;  clear: left;  margin-top: 24px;}
	a.team_6 { max-width: 45%; margin-right: 0;}
	
	.banner {margin-top: 40px; }
	.quote p { font-size: 2em; }
	
	.team_wrap img { margin-top: 0;}
	.hp_tier_2  .col_2 { margin-top: 40px;}
	.hp_tier_2 h3 { font-size: 2.4em; font-weight: bold; margin-top: 30px;}

}

/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {

	input { -webkit-appearance: none;}
	
	.col_2, .columns { margin-top: 40px;}
	.col_2 .left, .col_2 .right { width: 100%; float: none; display: block; }
	.col_2 .right { margin-top: 40px;}
	.columns .panel,
	.columns.panels_3 .panel,
	.columns.panels_4 .panel,
	.columns.panels_5 .panel { width: 100%; float: none; display: block; margin-bottom: 30px;}	
	.fluid_half_wrap { padding: 0;}

	.header_wrap { padding: 40px 0;}
	.content_wrap { padding: 40px 0;}
	.footer_wrap { padding: 40px 0;}
	
	.section { padding: 40px 0; }
	
	h2.titles { font-size: 2.4em; font-weight: 700; }

	.hero_wrap { height: auto; padding: 40px 0; }
	.hero h2 { margin-top: 0; font-size: 3em;}
	.hero a.button { max-width: 100%; }

	.email { padding: 12px 4%;}
	.form_row .left, .form_row .right { width: 100%;} 
	.form_row .right { margin-top: 16px;}
	.form_row.last .right label { display: none;}
	
	#divEmailConfirmation { padding: 24px;}
	#divEmailConfirmation h3 { font-size: 2.4em;}

	.footer { padding: 30px 0; }
	.footer h2 { width: 234px; margin: 0 auto;}
	.footer h2 img { width: 100%; max-width: 100%; height: auto; }
	
	p.copyright { text-align: center; }
	
	.social { float: none; display: block; width: 156px; margin: 0 auto 30px auto; overflow: hidden;}

	.hp_tier_3 img { width: 60%; max-width: 600%; margin: 0 auto; }
	.hp_tier_3 .columns { margin-top: 40px; text-align: center;}
	
	.col_2.full .left { width: 100%; background: #111; overflow: hidden; padding-bottom: 40px;}
	.col_2.full .left.yellow {  background:none; padding-bottom: 0;}
	.hp_tier_4 h2.titles { font-size: 2.4em; text-align: center;}
	
	.logos { margin-top: 40px;}
	a.team_1 { width: 45%; margin-right: 10%;}
	a.team_2 { max-width: 45%; margin-right: 0;}
	a.team_3 { max-width: 45%; margin-right: 10%; clear: left; margin-top: 24px;}
	a.team_4 { max-width: 45%; margin-right: 0;}
	a.team_5 { max-width: 45%; margin-right: 10%;  clear: left;  margin-top: 24px;}
	a.team_6 { max-width: 45%; margin-right: 0;}
	
	.banner {margin-top: 40px; }
	.quote p { font-size: 2em; }
	
	.team_wrap img { margin-top: 0;}
	.hp_tier_2  .col_2 { margin-top: 40px;}
	.hp_tier_2 h3 { font-size: 2.4em; font-weight: bold; margin-top: 30px;}

}
